In [2]:
name=input()
if name == "Sara":
    print("Hello Sara")
else:
    print(f"Hello {name}")

 Sara

Hello Sara

- Intialization

- type

- len 

- max 

- min

- sorted

- reversed

- in

- for loop in

- index

- for loop using index

- mutable

- concatenation

- slicing

- methods

**Representation**

- string represent with quotes

- lists reprsent with square brackets[]

In [1]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [2]:
type(l1)

list

In [3]:
l2=['A','B','C','D']
l2

['A', 'B', 'C', 'D']

In [4]:
l3=[1,2,3,4,'A','B','C','D']
l3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [6]:
l4=[1,2,3,'A','B','apple','Ball',True,False,'C']
l4

[1, 2, 3, 'A', 'B', 'apple', 'Ball', True, False, 'C']

In [108]:
name='naresh it'
l5=[name]
l5

['naresh it']

In [8]:
l6=[100,100,100]
l6

[100, 100, 100]

In [9]:
l7=[100,'Apple',['A',2]]
l7

[100, 'Apple', ['A', 2]]

In [ ]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'A','B','apple','Ball',True,False,'C']
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'Apple',['A',2]]

- list are array of elements

- list elements are heterogeneous all the datatypes we can represent in a list

- list elements are allowed duplicates

- list in list is possible

- variable assignment also possible in the list.

- len 

- max

- min

- sorted

- reversed

In [11]:
print(f"L1 length :{len(l1)}")
print(f"L1 length :{len(l2)}")
print(f"L1 length :{len(l3)}")
print(f"L1 length :{len(l4)}")
print(f"L1 length :{len(l5)}")
print(f"L1 length :{len(l6)}")
print(f"L1 length :{len(l7)}")

L1 length :4
L1 length :4
L1 length :8
L1 length :10
L1 length :1
L1 length :3
L1 length :3

In [17]:
print(f"max in l1 :{max(l1)}")
print(f"max in l2 :{max(l2)}")
#print(f"max in l3 :{max(l3)}")
#print(f"max in l4 :{max(l4)}")
print(f"max in l5 :{max(l5)}")
print(f"max in l6 :{max(l6)}")
#print(f"max in l7 :{max(l7)}")

max in l1 :4
max in l2 :D
max in l5 :naresh it
max in l6 :100

In [21]:
l1=[1,2,3,4]
print(len(l1))
print(max(l1))
print(min(l1))
print(sorted(l1))
print(reversed(l1))

4
4
1
[1, 2, 3, 4]
<list_reverseiterator object at 0x000001B05D92B8B0>

In [27]:
r=(reversed(l1))
for i in r:
    print(i,end=' ')

4 3 2 1

In [29]:
l2=['B','D','A','C']
print(len(l2))
print(max(l2))
print(min(l2))
print(sorted(l2))
print(reversed(l2))

4
D
A
['A', 'B', 'C', 'D']
<list_reverseiterator object at 0x000001B05DB3D180>

In [30]:
r=(reversed(l2))
for i in r:
    print(i,end=' ')

C A D B

In [39]:
l3=[1,2,3,4,'A','B','C','D']
print(len(l3))
# print(max(l3))  '>' not supported between instances of 'str' and 'int'
# print(min(l3))    '>' not supported between instances of 'str' and 'int'
# print(sorted(l3))    '>' not supported between instances of 'str' and 'int'
print(reversed(l3))

8
<list_reverseiterator object at 0x000001B05DB4C250>

In [40]:
for i in (reversed(l3)):
    print(i,end=' ')

D C B A 4 3 2 1

In [44]:
l4=[1,2,3,'A','B','apple','Ball',True,False,'C']
print(len(l4))
# print(max(l4)) #'>' not supported between instances of 'str' and 'int'
# print(min(l4))
# print(sorted(l4))
print(reversed(l4))
for i in reversed(l4):
    print(i,end=' ')

10
<list_reverseiterator object at 0x000001B05DB5AA40>
C False True Ball apple B A 3 2 1

**list Typecast**

In [45]:
list(reversed(l4))

['C', False, True, 'Ball', 'apple', 'B', 'A', 3, 2, 1]

In [50]:
name='naresh it'
name2='Hema'
l5=[name,name2]
print(len(l5))
print(max(l5))
print(min(l5))
print(sorted(l5))
print(list(reversed(l5)))

2
naresh it
Hema
['Hema', 'naresh it']
['Hema', 'naresh it']

In [70]:
l6=[100,100,100]
print(len(l6))
print(max(l6))
print(min(l6))
print(sorted(l6))
print(list(reversed(l6)))

3
100
100
[100, 100, 100]
[100, 100, 100]

In [73]:
l7=[100,'Apple',['A',2]]
print(len(l7))
# print(max(l7))
# print(min(l7))
# print(sorted(l7))
print(list(reversed(l7)))

3
[['A', 2], 'Apple', 100]

In [ ]:
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'A','B','apple','Ball',True,False,'C']
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'Apple',['A',2]]

In [52]:
name=['adithya','aadithya']
max(name)
# First compares all the first letters
# If all first letters ascii values are same
# then compares with second letters
# continue the process

'adithya'

In [57]:
name=['adithya','Aadithya']
max(name),min(name)

('adithya', 'Aadithya')

In [58]:
a=['a',2,['apple',4]]
len(a)

3

In [55]:
list1=[65,'A']
max(list1) # error

# same data type only comparable

(97, 65)

**index**

In [60]:
l4=[1,2,3,'apple','Ball','Cat',True,False]

# 1  2   3   apple    ball  Cat    True   False
# 0  1   2    3         4    5     6        7

In [61]:
l4[3],l4[-5]

('apple', 'apple')

In [62]:
l1=[1,[2]]
l1[0]

1

In [66]:
new=l1[1]
new[0]

2

In [ ]:
l1=[1,[2]]
new=l1[1]   # [2]  will come again it is list,one element
new[0]

l1[1][0]

In [67]:
l1=[1,[2,'A']]
l1[1][1]

# 'A' is reprsented at index 1
# So we given l1[1]  : [2,'A'] it is also a list
# The list has two elements
# 'A' at 1st index
# l1[1][1]

'A'

In [79]:
l1=[1,      # 0
    [1,['A','B']]  # 1
   ]
print(len(l1))
l1[1]

2

[1, ['A', 'B']]

In [77]:
l1[1][1]

['A', 'B']

In [78]:
l1[1][1][1]

'B'

In [111]:
l1=[1,2,[3,[4,[5,['Apple']]]]] #2
[3,[4,[5,['Apple']]]] #1
[4,[5,['Apple']]]  #1
[5,['Apple']]    #1 
['Apple']    #0
'Apple'   
l1[2][1][1][1][0]

'Apple'

In [81]:
l1=[1,
    2,
    [3,[4,[5,['Apple']]]]
   ]
len(l1)

3

In [90]:
print(len(l1[2]))
l1[2]

2

[3, [4, [5, ['Apple']]]]

In [ ]:
print(len(l1[2]))
l1[2]

In [87]:
l1[2][1][1][1][0]

'Apple'

In [ ]:
l1=['Apple',1,'Solapur',['cherry

In [95]:
list1=[[[[[[1,'cherry']]]]]]
list1[0][0][0][0][0][1]

'cherry'

In [105]:
list1=['MH',
       ['Nagpur',
        ['Orange',
         ['likes',['king'],['shivaji',['Son',['Simbaji']]]]]]]
list1[1][1][1][2][1][1][0]

'Simbaji'

In [ ]:
# in operator
# index : for loop
# mutability check
# slicing

# positive index
# negative index
# both pos and neg

In [ ]:
# Tomorrow mcq exam

In [2]:
l4=[1,2,3,'A','B','apple','Ball',True,False,'C']
for i in range(len(l4)):
    print(f"The positive index of {l4[i] } is {i}")

The positive index of 1 is 0
The positive index of 2 is 1
The positive index of 3 is 2
The positive index of A is 3
The positive index of B is 4
The positive index of apple is 5
The positive index of Ball is 6
The positive index of True is 7
The positive index of False is 8
The positive index of C is 9

In [4]:
for i in range(len(l4)):
    print(f"The positive index of {l4[i]} is {i-len(l4)}")

The positive index of 1 is -10
The positive index of 2 is -9
The positive index of 3 is -8
The positive index of A is -7
The positive index of B is -6
The positive index of apple is -5
The positive index of Ball is -4
The positive index of True is -3
The positive index of False is -2
The positive index of C is -1

In [6]:
l=[1,2,3,4,5,6,'A','B','C','D','E','F','G']
l[3:-9:2]

[4]

In [8]:
l[-3:-9:-2]

['E', 'C', 'A']

**List Methods**

In [9]:
# string

dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

**append**

- adding elements to a list at last index

- append method is very important

- most of the time we will use append in the real time projects

- When u add the value the original list will be overwrite

- mutability only applicable for indexing

In [10]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

In [ ]:
# you want to add Doll in a given list

# keywords vs methods

len()
max()
min()
reversed()
sorted()

# methods
<package_name>.<method_name>
# we already discussed
# data types has own methods
# <data type>.<method>
# <packages>.<method>

In [13]:
l.append

In [14]:
l.append()

TypeError: list.append() takes exactly one argument (0 given)

In [19]:
l.append("Doll")

In [20]:
l

['Apple', 'Ball', 'Cat', 'Doll', 'Doll']

In [24]:
l1=[1,2,3,4]
l1.append(100)
l1

[1, 2, 3, 4, 100]

In [25]:
l2=[]
l2.append(10)
l2.append(20)
l2.append('apple')
l2.append(['A',1])
l2.append(True)
l2

[10, 20, 'apple', ['A', 1], True]

In [ ]:
l2.append(100,200,300) # error
# append takes only one argument,here we are providing 3 arguments

**Append method used to save the output in a list**

In [26]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [29]:
square_list=[]
for i in range(1,6):
    print(i*i)
    square_list.append(i*i)
# print === square_list.append
square_list

1
4
9
16
25

[1, 4, 9, 16, 25]

In [31]:
square_list=[]
for i in range(1,6):
    square_list.append(i*i)
# print === square_list.append
square_list

[1, 4, 9, 16, 25]

In [30]:
s=''
for i in 'python':
    s=s+i

# str= 'hai hai hai'
# what are ids of 'a'
# save the ids in the list

In [38]:
str= 'hai hai hai'
id_list=[]
for i in range(len(str)):
    if str[i] =='a':
        id_list.append(i)
id_list,sum(id_list)

([1, 5, 9], 15)

In [37]:
summ=0
str= 'hai hai hai'
for i in range(len(str)):
    if str[i] =='a':
        summ=summ+i
summ

# summation wrapper is not required in lists 
# we can add the ids of in the lsit

15

In [ ]:
#Q2) l1=['Hyd','Mumbai,'Chennai','blr']
# ans=['Mumbai','Chennai']
# we want elements which are len of element >4

# Q3)l1=['Hyd','Mum#bai,'Chen#nai','blr']
# ans=['Mum#bai','Chen#nai']
# we want elements which are having '#'


#Q4) l1=['Hyd','Mumbai,'Chennai','blr']
# ans=['Mumbai','Chennai']
# we want elements which are len of element >4

In [3]:
#Q2) l1=['Hyd','Mumbai,'Chennai','blr']
# ans=['Mumbai','Chennai']
# we want elements which are len of element >4

In [4]:
l1=['Hyd','Mumbai','Chennai','blr']
ans=[]
for i in l1:
    if len(i)>4:
        ans.append(i)
ans

['Mumbai', 'Chennai']

In [6]:
#Q2)
l1=['Hyd','Mum#bai','Chen#nai','blr']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)
ans

['Mum#bai', 'Chen#nai']

In [10]:
'nadeem' in '#'  # 'nadeem' is available in '#'
'#' in 'nadeem'  # '#' is available in 'nadeem'
'nad##m' in '#'  # 'nad##m' is available in '#'
'#' in 'nad##m'  # '#' is available in 'nad##m'

True

In [ ]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'

In [13]:
# Q4)l1=['hyd','mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai','Chennai','Blr']
#  we want lements which are len of element >4
l1=['hyd','mumbai','chennai','blr']
ans=[]
for i in l1:
        ans.append(i.capitalize())
ans

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [15]:
#What is the difference between capitalize and title
str1='hello im learning python'
#Make every word capitalize
str1.title()

'Hello Im Learning Python'

In [ ]:
# Do the same using capitalize methods
# step-1: split the string
# Step-2: Take empty list
# step-3: itewrate the each letter apply capitalize and append it
# step-4:join the list

In [ ]:
split_str=str1.split()

**split-join**

- split will apply for strings ,to divide the words or characters

- when we split the elements will be stored in a list format

- Join is used  to combine the elements of a list in string format

- **split-strings**

- **join- list**

In [22]:
str1='hello im learning python'
words=str1.split()
new_words=[]
for i in words:
    new_words.append(i.capitalize())
print(new_words)
' '.join(new_words)

['Hello', 'Im', 'Learning', 'Python']

'Hello Im Learning Python'

In [ ]:
# calculate the distance between two points 
# a=[1,2]
#b=[4,5]
# a=[x1,x2]
#b=[y1-y2]

# step-0: import math
# step-1: x2-x1
# step-2: y2-y1
# step-3: v11=v1**2
# step-4: v22=v2**2
# step-5: ans=math.sqrt(v11+v22)

In [35]:
import math
a=[1,1]
b=[4,5]
v1=b[0]-a[0]
v2=b[1]-a[1]
v11=v1**2
v22=v2**2
#ans=math.sqrt(v11+v22)
ans=math.sqrt((v1**2)+(v2**2))
print(ans)

5.0

In [31]:
print(math.sqrt(math.pow(a[1]-a[0],2)+math.pow(b[1]-b[0],2)))

1.0

In [ ]:
[1,2,3,4,5,4,3,2,1]
[100,500,700,400,300,50]
# similarity is upto some point they are increasing and then decreasing ..pyramid logic
# these kind of questions will ask in amazon

In [ ]:
import math
points=[[1,2],[2,3],[3,4]]
val=[2,3]
for i in points:
    print(i[0],i[1])
    print(val[0],val[1])
    o1=val[0]-i[0]
    o2=val[1]-i[1]
    print(f"{val[0]-i[0]+={o1},{val[1]-i[1]}={o2}
    v11=o1**2
    v22=o2**@

In [34]:
import math
points=[[1,2],[2,3],[3,4]]
val=[2,3]
max=0
for i in points:
    dist= math.sqrt(math.pow((val[0]-i[0]),2)+math.pow((val[1]-i[1]),2))
    print(dist)
    if max < dist:
        max=dist
print(f"maximum distance is :{max}")

# calculate the diatnce between val[2,3] to each and every point
# find the max dist

1.4142135623730951
0.0
1.4142135623730951
maximum distance is :1.4142135623730951

In [ ]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital

In [ ]:
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr']
#  we want lements which are having '#'

In [ ]:
# Q7) ask the user get 5 numbers randomly
#     even_list and odd_list
#     even numbers should append at even_list
#     odd number should append at odd_list

In [ ]:
# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append

In [1]:
str='hello hai how are you'
words=str.split()
len_words=[]
for i in words:
    x=len(i)
    len_words.append(x)
max_len=max(len_words)
for i in words:
    if len(i) == max_len:
        print(i)
# first we are splitting
# Then we are calculating each and every len of words and append to list
# we are taking the max value from the list

# again we are iterating words list
# calculating len of each word
# if that word length equal to max value
 # then that is our answer

hello  == 0
01234

5

In [ ]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

In [ ]:
# 10 )
#  You have two lists
# qns=['What is capital of India',
      # 'Who is PM of india',
      # 'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']

# For i in qns:
#     print(i)
#     ans= delhi
#      index should match
#      delhi  modi
#      marks= marks+1
# print the total marks

**22nd july**

In [8]:
qns=['What is capital of India',
       'Who is PM of india',
       'Who is ICT ODI captian']
ans_list= ['Delhi','Modi','Rohit']
marks=0
crct_ans,wrong_ans=0,0
for i in range(len(qns)):
    ans=input(qns[i])
    if ans.lower() == ans_list[i].lower():
        marks=marks+1
        crct_ans+=1
    else:
        wrong_ans+=1
print("The total marks are:",marks)
print("Correct answer:",crct_ans)
print("wrong answers:",wrong_ans)

What is capital of India delhi
Who is PM of india modi
Who is ICT ODI captian Kohli

The total marks are: 2
Correct answer: 2
wrong answers: 1

**Methods**

In [9]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# append Vs extend  Vs concatenation  Vs insert
# pop Vs remove
# reversed Vs reverse
# sort VS sorted
# index
# count
# clear and copy

# Methods vs keywords
# keywords: inbuilt functions
# print()  max() min() len(<>) sorted(<>) reversed(<>)
# methods
#l.copy()
# l.remove()

**append Vs extend  Vs concatenation  Vs insert**

In [55]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.append(l2)
print(l1)
print(l2)

# l list is overwrite

[1, 2, 3, 4, ['A', 'B', 'C', 'D']]
['A', 'B', 'C', 'D']

In [57]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.extend(l2) # ans stores in l1
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

In [59]:
# extend means we are adding two lists
l1=[1,2,3,4]
l2=['A','B','C','D']
l1+l2

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [58]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l2.extend(l1) # ans stores in l2
print(l1)
print(l2)

[1, 2, 3, 4]
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [60]:
l1=[1,2,3,4]
l2=['A','B','C','D']
print(l1+l2)
print(l2+l1)
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]
[1, 2, 3, 4]
['A', 'B', 'C', 'D']

In [62]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.extend('apple')
print(l1)
# [1,2,3,4,'a','p','p','l','e']

[1, 2, 3, 4, 'a', 'p', 'p', 'l', 'e']

In [63]:
l1=[1,2,3,4]
l1.extend(10,20,30,40)
l1
# raises error befor extend takes only one argument but here we gib=ven 4 arguments

TypeError: list.extend() takes exactly one argument (4 given)

- append just append the value with base data type

- extend is concatenate the value,and it  list will be overwrite with the new values

- extend can take any iterable format type i.e. string,list,tuple

- extend and concatenation both are same

- the list will not overwrite in conacatenation

**index**

- same like string only

In [65]:
l1=[1,2,3,'Apple',10,20,'Apple',30,40]
l1.index(2)
i1=l1.index('Apple')   # case-1
i2=l1.index('Apple',i1+1) # case-2
i3=l1.index('Apple',2,5) # case-3
i1,i2

(3, 6)

In [68]:
l1.index('Apple'),l1.index('Apple')+1

(3, 4)

- case-1: directly get the index

- case-2: Next value index , by providing start

- case -3: Between the values

**23rd july**

In [ ]:
- copy and clear

**insert**

- will insert the element based on the index

- append will add the element at last only

In [2]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')  # Apple index=3
l1.insert(3,'Banana')  # insert banana before indexi1(3)
l1

[1, 2, 3, 'Banana', 'Apple', 10, 20, 'Apple', 40]

In [6]:
# insert cherry before 40
# You need to find index of 40
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index(40)  
l1.insert(i1,'cherry')
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple', 'cherry', 40]

In [11]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
# insert cherry before the 2nd apple
# step-1: find the index of 2nd apple
# step-2: how to find the 2nd apple index 
# step-3: find the the index of 1st apple
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
l1.insert(i2,'Cherry')
l1

[1, 2, 3, 'Apple', 10, 20, 'Cherry', 'Apple', 40]

**pop-remove-del**

**pop**

- pop will remove the item

- pop also display the item which is removing

- pop will take one arugument :index

- pop will remove the item based on index

- if you don not provide any index, by default it will remove the last value

- because the default index value is -1

In [13]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
l1.pop()
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple']

In [16]:
# removing 1st apple(we are concentrating on 1st apple)
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
l1.pop(i1)
l1

[1, 2, 3, 10, 20, 'Apple', 40]

In [17]:
#removing 2nd apple (We are concentrating on 2nd apple)
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
l1.pop(i2)
l1

[1, 2, 3, 'Apple', 10, 20, 40]

In [26]:
3 Removing 2 apples one after the other
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
l1.pop(i1) # output list: [1,2,3,10,20,'Apple',40]
##########################################
i2=l1.index('Apple')
l1.pop(i2)
l1

[1, 2, 3, 10, 20, 40]

In [ ]:
str1='hai apple how are you apple im good apple thank you apple'
#o/p: 'hai how are you im good thank you'
# idea:
# split it
# iterate off
# pop it
# join it

In [46]:
str1='hai apple how are you apple im good apple thank you apple'.split()
print(str1)
apple_count=str1.count('apple')
for i in range(apple_count):
    i1=str1.index('apple')
    str1.pop(i1)
' '.join(str1)

['hai', 'apple', 'how', 'are', 'you', 'apple', 'im', 'good', 'apple', 'thank', 'you', 'apple']

'hai how are you im good thank you'

- pop will take the index

- remove will take the value

- remove will delete the first occurence of the element

In [50]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
l1.remove('Apple')
l1
l1.remove('Apple')
l1

[1, 2, 3, 10, 20, 40]

In [54]:
str1='hai apple how are you apple im good apple thank you apple'
#o/p: 'hai how are you im good thank you'
# idea:
# split it
# iterate off
# pop it
# join it

str1='hai apple how are you apple im good apple thank you apple'.split()
print(str1)
apple_count=str1.count('apple')
for i in range(apple_count):
    str1.remove('apple')
' '.join(str1)

['hai', 'apple', 'how', 'are', 'you', 'apple', 'im', 'good', 'apple', 'thank', 'you', 'apple']

'hai how are you im good thank you'

**del**

- del is a keyword

In [56]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
del(l1[3])
l1

[1, 2, 3, 10, 20, 'Apple', 40]

In [ ]:
# append Vs extend  Vs concatenation  Vs insert

In [18]:
l1=[10,20,'apple','bat']
l2=[50,60,'mango']
l1.append(l2)  # adding a list into another list
print(l1)
l1.append(9)   # appending single element at last
print(l1)
l1.append('girl')
print(l1)
l1.append([10,'ant'])
print(l1)

[10, 20, 'apple', 'bat', [50, 60, 'mango']]
[10, 20, 'apple', 'bat', [50, 60, 'mango'], 9]
[10, 20, 'apple', 'bat', [50, 60, 'mango'], 9, 'girl']
[10, 20, 'apple', 'bat', [50, 60, 'mango'], 9, 'girl', [10, 'ant']]

In [25]:
l1=[10,20,'apple','bat']
l2=[50,60,'mango']
l1.extend(l2)
print(l1)
l3=['man']
l3.extend(l1)
print(l3)

[10, 20, 'apple', 'bat', 50, 60, 'mango']
['man', 10, 20, 'apple', 'bat', 50, 60, 'mango']

In [30]:
#cocatenation
l1=[10,20,'apple','bat']
l2=[50,60,'mango']
l2+l1
l1+['mango']
l1+[9,10]

[10, 20, 'apple', 'bat', 9, 10]

In [37]:
#insert
l1=[10,20,'apple','bat']
l2=[50,60,'mango']
l1.insert(1,100)
print(l1)
# if we mention more tha the length of list insert will add the elemnt at last
# it takes 2 arguments one is indexa and other one is element to add

[10, 100, 20, 'apple', 'bat']

In [41]:
#pop
l1=[10,20,'apple','bat']
l1.pop(2)

'apple'

In [42]:
print(l1)

[10, 20, 'bat']

In [45]:
l2=[50,60,'mango']
l2.remove(60)

In [46]:
print(l2)

[50, 'mango']

In [ ]:
# in pop we need to mention index ,to remove the element and 
# after poping ,it will show the popped elemnt from the list
# in remove we need to mention element which we want to remove

In [52]:
l1=[10,20,'apple','bat']
rev=l1.reverse()
for i in rev:

    print(i)

TypeError: 'NoneType' object is not iterable